@use "../../styles/abstracts/mixins";

// summary-card
.summary-card {
  width: 100%;
  // max-width: 320px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 28px;
  gap: 2rem 0;
  border-radius: 4px;
  @include mixins.shadow;
  // summary-card__section
  &__section {
    display: flex;
    justify-content: space-between;
  }

  // summary-card__title
  &__title {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 400;
  }

  // summary-card__subtitle
  &__subtitle {
    font-size: 18px;
    font-weight: 400;
  }

  // summary-card__bold
  &__bold {
    font-size: 24px;
    font-weight: 500;
  }

  // summary-card__btn
  &__btn {
    width: 100%;
    justify-content: center;
  }
}
