@use "../../styles/abstracts/mixins";

// place-order-card
.place-order-card {
  width: 100%;
  // max-width: 400px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 28px;
  gap: 2rem 0;
  border-radius: 4px;
  @include mixins.shadow;
  // place-order-card__sect
  &__sect {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // place-order-card__title
  &__title {
    font-size: 18px;
    font-weight: 400;
  }

  // place-order-card__btn
  &__btn {
  }

  // place-order-card__subtitle
  &__subtitle {
    font-size: 16px;
    font-weight: 700;
  }

  // place-order-card__info
  &__info {
  }
}
