// place-order-item
.place-order-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // place-order-item__img
  &__img {
    width: 90px;
    height: 90px;
    object-fit: cover;
  }

  // place-order-item__name
  &__name {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 19px;
    color: #000;
  }

  // place-order-item__qty
  &__qty {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.66);
  }

  // place-order-item__price
  &__price {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
  }
}
