// appbar
.appbar {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  padding: 0;
  // appbar__logo
  &__logo {
    margin-right: 1rem;
  }

  // appbar__search
  &__search {
    margin-left: auto;
  }

  // appbar__nav
  &__nav {
    margin-left: 1rem;
  }

  // appbar__nav
  &__nav {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
