// checkbox
.checkbox {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0 1rem;
  // checkbox__input
  &__input {
  }

  // checkbox__label
  &__label {
    line-height: 24px;
  }
}
