// add-product
.add-product {
  width: 100%;
  // add-product__header
  &__header {
    margin-top: 1rem;
    margin-bottom: 40px;
  }

  // add-product__form
  &__form {
    max-width: 488px;
    margin: 0 auto 2rem;
  }

  // add-product__footer
  &__footer {
  }
}
