@use "../../styles/abstracts/variables" as vars;

// btn
.btn {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  background-color: transparent;
  color: #000000;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  position: relative;

  // btn--primary
  &--primary {
    background-color: vars.$primary-color;
    color: vars.$on-primary-color;
    // btn--primary.btn--outline
    &.btn--outline {
      color: vars.$primary-color;
      background-color: vars.$on-primary-color;
      border: 1px solid vars.$primary-color;
    }

    // btn--primary.btn--icon
    &.btn--icon {
      color: vars.$primary-color;
      background-color: transparent;
      border: none;
    }
  }

  // btn--secondary
  &--secondary {
    background-color: vars.$secondary-color;
    color: vars.$on-secondary-color;
    // btn--secondary.btn--outline
    &.btn--outline {
      color: vars.$secondary-color;
      background-color: vars.$on-secondary-color;
      border: 1px solid vars.$secondary-color;
    }

    // btn--secondary.btn--icon
    &.btn--icon {
      color: vars.$secondary-color;
      background-color: transparent;
      border: none;
    }
  }

  // btn--icon
  &--icon {
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    &.btn__text {
      display: none;
    }
  }

  // btn__text
  &__text {
    font-size: 18px;
    font-weight: 500;
  }

  // btn__icon
  &__icon {
    font-size: 24px;
  }

  // btn__badge
  &__badge {
    position: absolute;
    background-color: vars.$secondary-color;
    color: vars.$on-secondary-color;
    display: block;
    padding: 0.25rem 0.5rem;
    font-size: 10px;
    font-weight: 900;
    border-radius: 50%;
    top: 0;
    right: 0;
  }
}
