// admin-dashboard
.admin-dashboard {
  // admin-dashboard__header
  &__header {
  }

  // admin-dashboard__main
  &__main {
  }

  // admin-dashboard__btn-wrapper
  &__btn-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  // admin-dashboard__btn
  &__btn {
  }

  // admin-dashboard__grid
  &__grid {
    margin: 1rem 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  // admin-dashboard__footer
  &__footer {
  }
}
