// admin-login
.admin-login {
  width: 100%;
  // admin-login__header
  &__header {
    margin-top: 1rem;
    margin-bottom: 40px;
  }

  // admin-login__form
  &__form {
    max-width: 488px;
    margin: 0 auto 2rem;
  }

  // admin-login__footer
  &__footer {
  }
}
