// products
.products {
  // products__title
  &__title {
    margin-bottom: 32px;
  }

  // products__filter
  &__filter {
    margin-bottom: 32px;
  }

  // products__grid
  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
  }
}
