// order
.order {
  width: 100%;
  // order__header
  &__header {
    margin-top: 1rem;
    margin-bottom: 40px;
  }

  // order__main
  &__main {
    width: 100%;
  }

  // order__footer
  &__footer {
  }
}
