// featured
.featured {
  // featured__title
  &__title {
    margin-bottom: 32px;
  }

  // featured__grid
  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
  }
}
