// cart
.cart {
  width: 100%;
  // cart__header
  &__header {
    margin-top: 1rem;
    margin-bottom: 40px;
  }

  // cart__stepper
  &__stepper {
    margin-bottom: 2rem;
  }

  // cart__main
  &__main {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  // cart__info
  &__info {
    width: 52%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  // cart__grid
  &__grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    gap: 1.5rem 0;
  }

  // cart__info-sect
  &__info-sect {
  }

  // cart__sumary
  &__sumary {
    width: 40%;
  }

  // cart__footer
  &__footer {
  }
}
