// home
.home {
  width: 100%;
  // home__header
  &__header {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  // home__main
  &__main {
  }

  // home__hero
  &__hero {
  }

  // home__featured
  &__featured {
  }

  // home__products
  &__products {
  }

  // home__newsletter
  &__newsletter {
  }
}
