// profile
.profile {
  width: 100%;
  // profile__header
  &__header {
    margin-top: 1rem;
    margin-bottom: 40px;
  }

  // profile__main
  &__main {
    width: 100%;
    display: flex;
    gap: 2rem;
  }

  // profile__form
  &__form {
    flex: 488px;
    margin: 0 0 2rem;
  }

  // profile__grid
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    flex: 488px;
  }

  // profile__order
  &__order {
    width: 100%;
    max-height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
  }

  // profile__footer
  &__footer {
  }
}
