// register
.register {
  width: 100%;
  // register__header
  &__header {
    margin-top: 1rem;
    margin-bottom: 40px;
  }

  // register__form
  &__form {
    max-width: 488px;
    margin: 0 auto 2rem;
  }

  // register__footer
  &__footer {
  }
}
