// radio
.radio {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0 1rem;
  // radio__input
  &__input {
  }

  // radio__label
  &__label {
    line-height: 24px;
  }
}
