// edit-product
.edit-product {
  width: 100%;
  // edit-product__header
  &__header {
    margin-top: 1rem;
    margin-bottom: 40px;
  }

  // edit-product__form
  &__form {
    max-width: 488px;
    margin: 0 auto 2rem;
  }

  // edit-product__footer
  &__footer {
  }
}
