@use "../../styles/abstracts/variables" as vars;

// stepper
.stepper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;

  // stepper__step
  &__step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // stepper__step--active
    &--active {
      .stepper__title {
        color: #000;
      }

      .stepper__number {
        background-color: vars.$secondary-color;
        color: #fff;
        border: 1px solid vars.$secondary-color;
        &::after {
          background-color: vars.$secondary-color;
        }
      }
    }
  }

  // stepper__title
  &__title {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 24px;
  }

  // stepper__number
  &__number {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: vars.$secondary-color;
    border: 1px solid vars.$secondary-color;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 500;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 220px;
      height: 2px;
      background-color: #d8d8d8;
      right: 0%;
      top: 40%;
      z-index: -1;
    }

    // stepper__number--hide
    &--hide {
      overflow: hidden;
      .stepper__number::after {
        background-color: #f8f8f8;
      }
    }
  }
}
